html, body {
    height: 100%;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

body {
    padding-bottom: 50px;
}

.panel-heading h1 {
    color: white;
}

.sidebar-menu a {
    white-space: normal;
}

.box-title {
    font-size: 25px !important;
    font-weight: bold;
}

/* Tabla SNB */

.table-aspecto-snb th, .table-aspecto-snb td {
    border: solid #D2D6DE !important;
}

.table-aspecto-snb th, .table-aspecto-snb td {
    border-width: 2px;
}

.table-aspecto-snb thead tr.table-header {
    background-color: #D2D6DE;
    font-size: 1.5em;
}

.table-aspecto-snb th {
    text-align: center;
}

.table-aspecto-snb .select2 {
    width: 100% !important;
}

.table-aspecto-snb {
    /*margin-bottom: 150px;*/
    overflow: hidden;
}

#tableAspectos > tbody > tr {
    cursor: pointer !important;
}

td.select-snb {
    width: 180px;
    max-width: 180px;
}

.select-snb * {
    white-space: normal;
}

.height-100-container, .height-100-container > * {
    height: 100%;
}

.dropdown-menu, .dropdown-menu * {
    cursor: pointer !important;
}

.drop-down-up {
    bottom: 100% !important;
    top: auto !important;
}