.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

body {
    padding-bottom: 50px;
}

.minimal-background-gray {
    /* fallback for old browsers */
    background: #D2D6DE;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #F2F3F5, #D2D6DE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #F2F3F5, #D2D6DE);
}